<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paypal.hecactivation" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Leanback" >
        <activity
            android:name="com.paypal.hecactivation.LoginActivity"
            android:icon="@drawable/app_icon_your_company"
            android:label="@string/app_name"
            android:logo="@drawable/app_icon_your_company"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.paypal.hecactivation.PaymentMethodActivity"
            android:label="@string/title_activity_payment_method"
            android:parentActivityName="com.paypal.hecactivation.LoginActivity" >
        </activity>
        <activity
            android:name="com.paypal.hecactivation.TVActivity"
            android:label="@string/title_activity_tv"
            android:parentActivityName="com.paypal.hecactivation.SendNotificationActivity" />
        <activity android:name="com.paypal.hecactivation.DetailsActivity" />
        <activity android:name="com.paypal.hecactivation.PlaybackOverlayActivity" />
        <activity android:name="com.paypal.hecactivation.BrowseErrorActivity" />
        <activity
            android:name="com.paypal.hecactivation.ProductActivity"
            android:label="@string/title_activity_product" >
        </activity>
        <activity
            android:name=".ActivationCodeActivity"
            android:label="@string/title_activity_loading" >
        </activity>
        <activity
            android:name="com.paypal.hecactivation.SubscriptionTypeActivity"
            android:label="@string/title_activity_subscription_type" >
        </activity>
        <activity
            android:name="com.paypal.hecactivation.CancelledActivity"
            android:label="@string/title_activity_cancelled" >
        </activity>
    </application>

</manifest>
